:host {
    display: block;
    background-color: #f0f0f0;
    background-image: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

mat-card {
    max-width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
    min-height: 95vh;
}

mat-card-header {
    justify-content: center;
    margin-bottom: 1rem;
}

img[mat-card-image] {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 9rem;
    object-fit: contain;
}

mat-tab-group {
    margin-top: 1rem;
}

mat-tab-group p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0.625rem 0;
}

.pokemon-details {
    margin-top: 2rem;
    text-align: center;
}

.evolution-chain {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.evolution-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.evolution-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.evolution-image {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 0.25rem;
}

.current-evolution {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 0, 0.2);
}

.evolution-arrow {
    font-size: 24px;
    color: #616161;
}