<mat-card>
    <mat-card-header>
        <mat-card-title>{{ pokemon.name | uppercase }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="pokemon.image" alt="{{ pokemon.name }}">
    <mat-tab-group>
        <mat-tab label="Details">
            <div class="pokemon-details">
                <p>Height: {{ pokemon.height }} cm</p>
                <p>Weight: {{ pokemon.weight }} kg</p>
            </div>
        </mat-tab>
        <mat-tab label="Evolution">
            <div class="evolution-chain">
                <ng-container *ngFor="let evolution of pokemon.evolution_chain; let i = index">
                    <div class="evolution-item">
                        <div class="evolution-content" [ngClass]="{'current-evolution': evolution.species_name.toLowerCase() === pokemon.name.toLowerCase()}">
                            <img [src]="evolution.image" alt="{{ evolution.species_name }}" class="evolution-image">
                            <p>
                                {{ evolution.species_name | titlecase }}
                            </p>
                        </div>
                        <span *ngIf="i < pokemon.evolution_chain.length - 1"
                            class="material-icons evolution-arrow">arrow_forward</span>
                    </div>
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>